@model HomeViewModel<DTOs.PlateDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test check.</p>
</div>
<div>
    @if (Model != null && Model.Items.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a href="@Url.Action("Index", Model.PaginationState.ChangeSortBy("Registration"))">
                            Plate
                            @if (Model.PaginationState.SortBy == "Registration")
                            {
                                <span>@(Model.PaginationState.SortDirection == "asc" ? "↑" : "↓")</span>
                            }
                        </a>
                    </th>
                    <th>
                        <a href="@Url.Action("Index", Model.PaginationState.ChangeSortBy("PurchasePrice"))">
                            Purchase Price
                            @if (Model.PaginationState.SortBy == "PurchasePrice")
                            {
                                <span>@(Model.PaginationState.SortDirection == "asc" ? "↑" : "↓")</span>
                            }
                        </a>
                    </th>
                    <th>
                        <a href="@Url.Action("Index", Model.PaginationState.ChangeSortBy("SalePrice"))">
                            Sale Price
                            @if (Model.PaginationState.SortBy == "SalePrice")
                            {
                                <span>@(Model.PaginationState.SortDirection == "asc" ? "↑" : "↓")</span>
                            }
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plate in Model.Items)
                {
                    <tr>
                        <td>@plate.Registration</td>
                        <td>@plate.PurchasePrice</td>
                        <td>@plate.CalculatedSalePrice</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.PaginationState.CurrentPage <= 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", Model.PaginationState.ChangePage(Model.PaginationState.CurrentPage - 1))">
                        Previous
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PaginationState.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", Model.PaginationState.ChangePage(i))">
                            @i
                        </a>
                    </li>
                }
                <li class="page-item @(Model.PaginationState.CurrentPage >= Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", Model.PaginationState.ChangePage(Model.PaginationState.CurrentPage + 1))">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No plates available to display.</p>
    }
</div>
